[workspace]
resolver = "2"
members = [
    "crates/*",
    "examples/*",
    # "kornia-py",
]
exclude = ["kornia-py", "examples/dora"]

[workspace.package]
authors = ["kornia.org <edgar@kornia.org>"]
categories = ["computer-vision", "science::robotics"]
description = "Low-level 3D computer vision library in Rust"
edition = "2021"
homepage = "http://kornia.org"
include = ["Cargo.toml"]
license = "Apache-2.0"
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/kornia/kornia-rs"
rust-version = "1.76"
version = "0.1.11-rc.1"

[workspace.dependencies]
# NOTE: remember to update the kornia-py package version in `kornia-py/Cargo.toml` when updating the Rust package version
kornia-3d = { path = "crates/kornia-3d", version = "0.1.11-rc.1" }
kornia-apriltag = { path = "crates/kornia-apriltag", version = "0.1.11-rc.1" }
kornia-icp = { path = "crates/kornia-icp", version = "0.1.11-rc.1" }
kornia-image = { path = "crates/kornia-image", version = "0.1.11-rc.1" }
kornia-imgproc = { path = "crates/kornia-imgproc", version = "0.1.11-rc.1" }
kornia-io = { path = "crates/kornia-io", version = "0.1.11-rc.1" }
kornia-lie = { path = "crates/kornia-lie", version = "0.1.11-rc.1" }
kornia-linalg = { path = "crates/kornia-linalg", version = "0.1.11-rc.1" }
kornia-nn = { path = "crates/kornia-nn", version = "0.1.11-rc.1" }
kornia-tensor = { path = "crates/kornia-tensor", version = "0.1.11-rc.1" }
kornia-tensor-ops = { path = "crates/kornia-tensor-ops", version = "0.1.11-rc.1" }
kornia-vlm = { path = "crates/kornia-vlm", version = "0.1.11-rc.1" }
kornia-pnp = { path = "crates/kornia-pnp", version = "0.1.11-rc.1" }
kornia = { path = "crates/kornia", version = "0.1.11-rc.1" }

# dev dependencies for workspace
argh = "0.1"
approx = "0.5"
bincode = { version = "2.0.0", features = ["derive"] }
criterion = "0.6"
ctrlc = "3.4"
env_logger = "0.11"
faer = "=0.20.1"
log = "0.4"
num-traits = "0.2"
rand = "0.9"
rerun = "0.23"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tempfile = "3.10"
thiserror = "2"

candle-core = { version = "0.9.1" }
candle-nn = { version = "0.9.1" }
candle-transformers = { version = "0.9.1" }
candle-examples = { version = "0.9.1" }
hf-hub = "0.4.2"
tokenizers = { version = "0.21.1", features = ["http"] }
