[workspace]
resolver = "2"
members = [
    "crates/kornia-core",
    "crates/kornia-core-ops",
    "crates/kornia-image",
    "crates/kornia-io",
    "crates/kornia-imgproc",
    "crates/kornia",
    "examples/*",
    "crates/kornia-icp",
    # "kornia-py",
    "kornia-viz",
    "crates/kornia-3d",
]
exclude = ["kornia-py", "kornia-serve"]

[workspace.package]
authors = ["kornia.org <edgar@kornia.org>"]
categories = ["computer-vision", "science::robotics"]
description = "Low-level computer vision library in Rust"
edition = "2021"
homepage = "http://kornia.org"
include = ["Cargo.toml"]
license = "Apache-2.0"
license-file = "LICENSE"
readme = "README.md"
repository = "https://github.com/kornia/kornia-rs"
rust-version = "1.76"
version = "0.1.8-rc.1"

[workspace.dependencies]
# NOTE: remember to update the kornia-py package version in `kornia-py/Cargo.toml` when updating the Rust package version
kornia-core = { path = "crates/kornia-core", version = "0.1.8-rc.1" }
kornia-core-ops = { path = "crates/kornia-core-ops", version = "0.1.8-rc.1" }
kornia-icp = { path = "crates/kornia-icp", version = "0.1.8-rc.1" }
kornia-image = { path = "crates/kornia-image", version = "0.1.8-rc.1" }
kornia-io = { path = "crates/kornia-io", version = "0.1.8-rc.1" }
kornia-imgproc = { path = "crates/kornia-imgproc", version = "0.1.8-rc.1" }
kornia-3d = { path = "crates/kornia-3d", version = "0.1.8-rc.1" }
kornia = { path = "crates/kornia", version = "0.1.8-rc.1" }

# dev dependencies for workspace
argh = "0.1"
approx = "0.5"
criterion = "0.5"
env_logger = "0.11"
log = "0.4"
num-traits = "0.2"
rand = "0.8"
rerun = "^0.20"
serde = { version = "1", features = ["derive"] }
tempfile = "3.10"
thiserror = "2"
