[package]
name = "kornia-rs"
version = "0.1.5"
edition = "2021"
description = "Low-level computer vision library in Rust"
homepage = "http://kornia.org"
repository = "https://github.com/kornia/kornia-rs"
categories = ["computer-vision", "science::robotics"]
license-file = "LICENSE"

[dependencies]
anyhow = "1.0.80"
arrow-buffer = "52.0.0"
fast_image_resize = "3.0.4"
image = { version = "0.25.0" }
ndarray = { version = "0.15.6", features = ["rayon"] }
# optional dependencies
gst = { version = "0.22.2", package = "gstreamer", optional = true }
gst-app = { version = "0.22.0", package = "gstreamer-app", optional = true }
memmap2 = "0.9.4"
num-traits = "0.2.17"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
tokio = { version = "1", features = ["full"], optional = true }
turbojpeg = { version = "1.0.0", optional = true }
# this is experimental and only used for benchmarking, so it's optional
# consider removing it in the future.
candle-core = { version = "0.3.2", optional = true }

[dev-dependencies]
clap = { version = "4.5.3", features = ["derive"] }
criterion = { version = "0.5.1", features = ["html_reports"] }
indicatif = { version = "0.17.8", features = ["rayon"] }
tempfile = "3.9.0"
rayon = "1.10.0"
rerun = "0.16.0"
walkdir = "2.5.0"

[features]
candle = ["candle-core"]
gstreamer = ["gst", "gst-app", "tokio"]
jpegturbo = ["turbojpeg"]

[[bench]]
name = "bench_color"
harness = false

[[bench]]
name = "bench_resize"
harness = false

[[bench]]
name = "bench_metrics"
harness = false

[[bench]]
name = "bench_io"
harness = false

[[bench]]
name = "bench_warp"
harness = false
