[package]
name = "kornia-image"
authors.workspace = true
description = "Image types and traits for generating and manipulating images"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
kornia-core.workspace = true

# external
num-traits = "0.2"
thiserror = "1"
