[package]
name = "kornia-image"
description = "Image types and traits for generating and manipulating images"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
kornia-tensor = { workspace = true }
num-traits = { workspace = true }
thiserror = { workspace = true }

# Optional dependencies for arrow integration
# NOTE: now we pin the arrow version to 54.2.1 because the latest version is not compatible with the dora-node-api crate
arrow = { version = "54.2.1", optional = true }

[features]
default = []
arrow = ["dep:arrow"]
cuda = ["kornia-tensor/cuda"]
