[package]
name = "kornia-image"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
description = "Image types and traits for generating and manipulating images"
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
publish = true

[dependencies]
# Optional dependencies for arrow integration
# NOTE: now we pin the arrow version to 54.2.1 because the latest version is not compatible with the dora-node-api crate
arrow = { version = "54.2.1", optional = true }
kornia-tensor = { workspace = true }
num-traits = { workspace = true }
thiserror = { workspace = true }

[features]
default = []
arrow = ["dep:arrow"]
