[package]
name = "kornia-algebra"
description = "Algebraic types for kornia-rs"
authors = ["kornia.org <christie@kornia.org>"]
categories = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = true
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[[bench]]
harness = false
name = "bench_linalg"

[[bench]]
harness = false
name = "bench_lie_group"

[[bench]]
harness = false
name = "bench_optim"

[[bench]]
harness = false
name = "bench_varpro"

[dependencies]
approx = { workspace = true, optional = true }
glam = "0.30.1"
nalgebra = "0.32"
rand = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
approx = { workspace = true }
criterion = { workspace = true }
faer = { workspace = true }
nalgebra = "0.32"
nalgebra-033 = { package = "nalgebra", version = "0.33" }
levenberg-marquardt = "0.13"
varpro = "0.7"
sophus = "0.15.0"
apex-solver = "0.1.6"

[features]
approx = ["dep:approx"]
[[bench]]
harness = false
name = "bench_bundle_adjustment"

[[bench]]
harness = false
name = "bench_apex_ba" 
