[package]
name = "kornia-io"
authors.workspace = true
description = "Image and Video IO library in Rust for computer vision"
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]

# kornia
kornia-image.workspace = true

# external
image = { version = "0.25" }
thiserror = "1"

# optional dependencies
futures = { version = "0.3.1", optional = true }
gst = { version = "0.23.0", package = "gstreamer", optional = true }
gst-app = { version = "0.23.0", package = "gstreamer-app", optional = true }
memmap2 = "0.9.4"
tokio = { version = "1", features = ["full"], optional = true }
turbojpeg = { version = "1.0.0", optional = true }

[dev-dependencies]
criterion = "0.5"
tempfile = "3.10"
kornia-io = { workspace = true, features = ["jpegturbo"] }

[features]
gstreamer = ["futures", "gst", "gst-app", "tokio"]
jpegturbo = ["turbojpeg"]

[[bench]]
name = "bench_io"
harness = false
