[package]
name = "kornia-tensor-ops"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Tensor operations library in Rust for computer vision"
homepage.workspace = true
repository.workspace = true
license.workspace = true
publish = true

[[bench]]
harness = false
name = "bench_ops"

[[bench]]
harness = false
name = "bench_kernels"

[dependencies]
kornia-tensor = { workspace = true }
num-traits = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
approx = { workspace = true }
criterion = { workspace = true }
rand = { workspace = true }
