[package]
name = "kornia-py"
version = "0.1.11-rc.1"
edition = "2021"
rust-version = "1.76"
description = "Python bindings for Kornia Rust library"
homepage = "http://kornia.org"
repository = "https://github.com/kornia/kornia-rs"
license = "Apache-2.0"
categories = ["computer-vision", "science::robotics"]

[lib]
crate-type = ["cdylib"]
name = "kornia_rs"

[dependencies]
kornia-3d = { path = "../crates/kornia-3d" }
kornia-apriltag = { path = "../crates/kornia-apriltag" }
kornia-icp = { path = "../crates/kornia-icp" }
kornia-image = { path = "../crates/kornia-image" }
kornia-imgproc = { path = "../crates/kornia-imgproc" }
kornia-io = { path = "../crates/kornia-io", features = ["turbojpeg"] }
numpy = { version = "0.27" }
pyo3 = { version = "0.27", features = ["extension-module"] }
