[package]
name = "kornia-py"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
description = "Python bindings for Kornia Rust library"
homepage = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
categories = { workspace = true }

[lib]
crate-type = ["cdylib"]
name = "kornia_rs"

[dependencies]
kornia-3d = { workspace = true }
kornia-apriltag = { workspace = true }
kornia-icp = { workspace = true }
kornia-image = { workspace = true }
kornia-imgproc = { workspace = true }
kornia-io = { workspace = true, features = ["turbojpeg"] }
numpy = "0.27"
pyo3 = { version = "0.27", features = ["extension-module"] }
