[package]
name = "kornia-py"
categories = ["computer-vision", "science::robotics"]
description = "Python bindings for Kornia Rust library"
edition = "2021"
homepage = "http://kornia.org"
include = ["Cargo.toml"]
license = "Apache-2.0"
repository = "https://github.com/kornia/kornia-rs"
rust-version = "1.76"
version = "0.1.9"

[lib]
name = "kornia_rs"
crate-type = ["cdylib"]

[dependencies]

# kornia
kornia-image = { path = "../crates/kornia-image" }
kornia-imgproc = { path = "../crates/kornia-imgproc" }
kornia-io = { path = "../crates/kornia-io", features = ["turbojpeg"] }
kornia-icp = { path = "../crates/kornia-icp" }
kornia-3d = { path = "../crates/kornia-3d" }

# external
pyo3 = { version = "0.24.0", features = ["extension-module"] }
numpy = { version = "0.24.0" }
