[package]
name = "kornia-py"
version = "0.1.4"
edition = "2021"

[lib]
name = "kornia_rs"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.80"
kornia-rs = { path = "../", features = ["jpegturbo"] }
pyo3 = { version = "0.20", features = ["extension-module"] }
numpy = { version = "0.20" }
