name: Python Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-python-linux:
    name: py${{ matrix.python-version }}-linux
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4

    - uses: extractions/setup-just@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal

    - name: Install sccache
      uses: mozilla-actions/sccache-action@v0.0.3

    - name: Install system dependencies
      run: sudo apt-get install -y nasm libunwind-dev

    - name: Setup project environment
      run: cd kornia-py/ && just install ${{ matrix.python-version }}

    - name: Run tests
      run: cd kornia-py/ && just test


    - name: Show sccache stats
      run: sccache --show-stats



  # TODO: integrate with linux tests once uv bug is fixed
  # https://github.com/astral-sh/uv/issues/12445
  test-python-linux-free-threaded:
    name: py3.13t-linux
    runs-on: ubuntu-latest

    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info


    steps:
    - uses: actions/checkout@v4

    - uses: extractions/setup-just@v2

    - uses: astral-sh/setup-uv@v5

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal


    - name: Install sccache
      uses: mozilla-actions/sccache-action@v0.0.3



    - name: Install system dependencies
      run: sudo apt-get install -y nasm libunwind-dev

    - name: Setup project environment
      run: cd kornia-py/ && just install-dev 3.13t

    - name: Run tests
      run: |
        cd kornia-py/
        source .venv/bin/activate
        maturin develop -m Cargo.toml
        pytest --parallel-threads=8 --iterations=50

        
    - name: Show sccache stats
      run: sccache --show-stats



  # NOTE: there's a systematic fail with the ci on macos
  # test-python-macos:
  #   runs-on: macos-latest
  #   steps:
  #     - uses: ilammy/setup-nasm@v1
  #     - uses: actions/checkout@v4
  #     - name: Set up Python 3.8
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: 3.8
  #         architecture: x64
  #     - uses: actions-rs/toolchain@v1
  #       with:
  #         profile: minimal
  #         toolchain: stable
  #         target: x86_64-apple-darwin
  #         override: true
  #     - uses: messense/maturin-action@v1
  #       with:
  #         command: build
  #         maturin-version: latest
  #         args: --target x86_64-apple-darwin --out dist -m kornia-py/Cargo.toml
  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip |
  #         python -m pip install dist/*.whl |
  #         python -m pip install pytest numpy |
  #         python -m pip install torch --extra-index-url https://download.pytorch.org/whl/cpu

  #     - name: Build and test
  #       run: pytest kornia-py/tests
