name: Python Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "kornia-py/**"
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/python_test.yml"
  pull_request:
    branches:
      - main
    paths:
      - "kornia-py/**"
      - "crates/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/python_test.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: py${{ matrix.python-version }}-linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.8"
            pixi-env: py38
          - python-version: "3.9"
            pixi-env: py39
          - python-version: "3.10"
            pixi-env: py310
          - python-version: "3.11"
            pixi-env: py311
          - python-version: "3.12"
            pixi-env: py312
          - python-version: "3.13"
            pixi-env: py313
          - python-version: "3.14"
            pixi-env: py314
          - python-version: "3.14t"
            pixi-env: py314t
            threaded: true

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/setup-rust-cache

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true
          environments: ${{ matrix.pixi-env }}

      - name: Run tests
        if: ${{ !matrix.threaded }}
        run: pixi run -e ${{ matrix.pixi-env }} py-test

      - name: Run multithreaded tests
        if: ${{ matrix.threaded }}
        run: pixi run -e ${{ matrix.pixi-env }} py-test-threaded

      - name: Show sccache stats
        run: sccache --show-stats
