name: Python Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-python-linux:
    name: py${{ matrix.python-version }}-linux
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]
        include:
          - python-version: "3.8"
            pixi-env: py38
          - python-version: "3.9"
            pixi-env: py39
          - python-version: "3.10"
            pixi-env: py310
          - python-version: "3.11"
            pixi-env: py311
          - python-version: "3.12"
            pixi-env: py312
          - python-version: "3.13"
            pixi-env: py313
          - python-version: "3.14"
            pixi-env: py314
          - python-version: "3.14t"
            pixi-env: py314t
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true
          environments: ${{ matrix.pixi-env }}

      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Run tests
        if: ${{ matrix.python-version != '3.14t' }}
        run: pixi run -e ${{ matrix.pixi-env }} py-test

      - name: Run multithreaded tests (3.14t only)
        if: ${{ matrix.python-version == '3.14t' }}
        run: pixi run -e ${{ matrix.pixi-env }} py-test-threaded

      - name: Show sccache stats
        run: sccache --show-stats
