name: python-docs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-docstrings:
    name: Verify Python Docstrings
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.1
          cache: true
          environments: dev

      - name: Build kornia_rs
        run: pixi run --environment dev py-build

      - name: Run Doctests
        run: pixi run --environment dev pytest tests/test_doctests.py
