name: Rust Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup toolchain install stable --component rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    steps:
      - run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - uses: actions/checkout@v4
      - run: rustup update
      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install cross
        uses: taiki-e/install-action@cross

      - name: Clippy
        run: cross clippy --workspace --no-deps --features "turbojpeg,gstreamer,v4l,arrow,bincode,serde" --all-targets -- -D warnings

      - name: Show sccache stats
        run: sccache --show-stats

  check:
    name: Check
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    steps:
      - run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - uses: actions/checkout@v4
      - run: rustup update

      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install cross
        uses: taiki-e/install-action@cross

      - run: cross check --all --features "turbojpeg,gstreamer,v4l,arrow,bincode,serde"

      - name: Show sccache stats
        run: sccache --show-stats
