name: Rust Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true

      - name: Check formatting
        run: pixi run rust-fmt-check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true

      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Clippy
        run: pixi run rust-clippy

      - name: Show sccache stats
        run: sccache --show-stats

  check:
    name: Check
    runs-on: ubuntu-latest
    env:
      RUSTC_WRAPPER: sccache
      SCCACHE_GHA_ENABLED: "true"
      SCCACHE_CACHE_SIZE: 6G
      SCCACHE_ERROR_LOG: /tmp/sccache_log.txt
      SCCACHE_LOG: info
    steps:
      - uses: actions/checkout@v4

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true

      - name: Install sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Check
        run: pixi run rust-check

      - name: Show sccache stats
        run: sccache --show-stats
