name: Rust Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "crates/**"
      - "examples/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/rust_test.yml"
  pull_request:
    branches:
      - main
    paths:
      - "crates/**"
      - "examples/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/rust_test.yml"

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Build All & Test Debug - x86_64
            runner: ubuntu-latest
            command: rust-build-all-and-test
          - name: Test Release - x86_64
            runner: ubuntu-latest
            command: rust-test-release
          - name: Test Debug - aarch64
            runner: ubuntu-24.04-arm
            command: rust-test

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/setup-rust-cache

      - uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.40.0
          cache: true

      - name: Run ${{ matrix.command }}
        run: pixi run ${{ matrix.command }}

      - name: Show sccache stats
        run: sccache --show-stats
