name: Rust Release

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  release:
    name: Release Rust
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - name: Install system dependencies
        run: sudo apt-get install -y cmake nasm
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: login
          args: ${{ secrets.CARGO_REGISTRY_TOKEN_KORNIA }}
      - name: Cargo Publish
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --verbose --target ${{ matrix.target }}
